<!DOCTYPE html>
<html ng-app="courseApp">
<head>
  <title>Course Registration</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--SCRIPTS-->
 <script src="/js/dependencies/sails.io.js"></script>
 <script src="/bower_components/jquery/dist/jquery.js"></script>
 <script src="/bower_components/angular/angular.js"></script>
 <script src="/bower_components/angular-route/angular-route.js"></script>
 <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
 <script src="/js/public/main.js"></script>
 <script src="/js/app.js"></script>
 <script src="/js/public/CourseController.js"></script>
 <script src="/js/public/DefaultController.js"></script>
 <script src="/js/public/MajorController.js"></script>
 <script src="/js/public/NewStudentController.js"></script>
 <script src="/js/public/StudentController.js"></script>
 <script src="/js/public/StudentCtrl.js"></script>
 <script src="/js/public/student.js"></script>
 <script src="/js/services/CourseService.js"></script>
 <script src="/js/services/MajorService.js"></script>
 <script src="/js/services/StudentService.js"></script>
 <script src="/js/services/TodoService.js"></script>
 <!--SCRIPTS END-->
</head>
<body>
<i class="fa fa-bars fa-2x mainBar"></i>
<div class="navBar">Course Registration</div>
 <div ng-view></div>
 <script type="text/javascript" src="/jst.js"></script>

</body>
</html>
