body{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: #68829E;
	font-size: 18px;
}

#mainContent{
	width: 80%;
	margin-top: 45px;
	padding-left: 15px;
}
h1{
	padding: none;
	margin: none;
}
.navBar{
	position: fixed;
	top: 0;
	left: 0;
	height: 45px;
	width: 100%;
	background-color: #505160;
	padding-top: 5px;
	padding-left: 55px;
}
.mainBar{
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 3;
}
input[type=text]{
	color: black;
}
.studentInput{
	padding-bottom: 10px;
}
.studentInput input[type=text]{
	padding: 9px 5px 9px 5px;
	font-size: 18px;
	box-shadow: none;
	border: none;
	outline: none;
}
.studentInput button{
	padding: 9px 5px 9px 5px;
	font-size: 18px;
}

.card{
	list-style-type: none;
	overflow: auto;
}
.card li{
	display: block;
	float: left;
	padding: 10px;
	width: 200px;
	min-height: 100px;
	background-color: #fff;
	color: #505160;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px #505160;
}
.card li:hover{
	cursor: pointer;
	box-shadow: 2px 2px 10px 2px #505160;
}
.delete{
	display: block;
	position: relative;
	top: 0;
	left: 170px;
	width: 10px;
}
.delete:hover{
	cursor: pointer;
}

.welcome{
	width: 100%;
	margin-top: 20%;
	text-align: center;
}

.welcome span{
	color: #505160;
	font-size: 25px;
}

.welcome a{
	display: inline-block;
	padding: 20px;
	background: #505160;
	color: white;
	width: 10%;
}
.welcome a:hover{
	text-decoration: none;
}
.welcome input[type=text]{
	text-align: center;
	width: 70%;
	padding-top: 2%;
	padding-bottom: 2%;
	outline: none;
	border: none;
	box-shadow: none;
	background: none;
	font-size: 20px;
	border-bottom: 2px solid #505160;
}
#activeCourse{
	position: fixed;
	height: 100%;
	background-color: #fff;
	color: #505160;
	width: 20%;
	right: 0;
	top: 45px;
}
#activeTitle{
	position: relative;
	top: 0;
	left: 0;
	width:100%;
	min-height: 30px;
	padding: 2px;
	font-weight: bold;
	//background-color: lightslategrey;
	//color: white;
}
#activeContent{
	padding: 10px;
	padding-top: 0px;
}
.activeHead{
	font-size: 25px;
}
.link{
	text-decoration: underline;
}
.link:hover{
	cursor: pointer;
}
.closeBtn{
	float: right;
	margin-right: 10px;
}
.delete i:hover{
	color: black;
}
.backLink{
	font-style: italic;
}
.button {
	background-color: #505160;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}
.disabled{
	cursor: default;
	background-color: grey;
}
a{
	color: white;
}

#suggestion{
	position: fixed;
	width: 30%;
	left: 15px;
	bottom: 0px;
	padding: 15px;
	background-color: white;
	color: black;
	border-radius: 5px 5px 0px 0px;
}

#courseSearchResultsContainer{
	position: absolute;
	width: 200px;
	height: auto;
	top: 70px;
	left: 20px;
	background-color: white;
	z-index: 500;
	border: 1px solid black;
}
#courseSearchResults{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#courseSearchResults li{
	border-bottom: 1px solid black;
}
#courseSearchResults li:hover{
	background-color: lightblue;
	cursor: pointer;
}
