<div class="container" ng-controller="StudentCtrl">
    <div class="studentInput">
       <span ng-click="goBack()">Back to Search</span>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-12">
            <div>
                    <b>Now Viewing:</b> {{activeStudent.name}}
                    <br />
                    <b>Courses:</b>
                    <ul id="coursesTaken">
                        <li ng-repeat="course in activeStudent.courses" ng-click="highlightCourse(course.courseId)">{{course.courseId}} - {{course.name}} ({{course.credits}})  <span ng-click="deleteCourse(course.courseId)" class="delete">[x]</span></li>
                    </ul>
                    <b>Register for New Class: </b>&nbsp;
                    <input type="text" class="" placeholder="Course ID" ng-model="formData.newCourse">
                    <button type="submit" ng-click="addCourse()">Add</button>
                    <br /><br /><br />
            </div>
        </div>
    </div>
    
    <div id="activeCourse" ng-model="activeCourse" ng-show="activeCourse != null">
        <b>Course Viewer</b><br />
        <span ng-click="closeCourseView()">Close</span>
        <br /><br /><br />
        Course: <b>{{activeCourse.courseId}} - {{activeCourse.name}}</b>
        <br />
        Credits: <b>{{activeCourse.credits}}</b>
        <br />
        <div ng-show="activeCourse.prerequisites.length>0">
        Prerequisites: 
        <br />
        <ul>
            <li ng-repeat="prereq in activeCourse.prerequisites">{{prereq.courseId}}</li>
        </ul>
        </div>
    </div>
</div>