<div class="" ng-controller="StudentCtrl">
    <div class="studentInput">
       <a href="/" class="link">Back to Search</a>
    </div>
    <div id="mainContent">

        <i class="fa fa-user"></i>&nbsp;&nbsp;<b>Now Viewing:</b> {{activeStudent.name}}
        <br /><br />
        <b>Courses:</b>
        <ul id="coursesTaken" class="card">
            <li class="courseCard" ng-if="activeStudent.courses.length==0"><i>No Courses Currently Assigned</i></li>
            <li class="courseCard" ng-repeat="course in activeStudent.courses | orderBy:'courseId'" ng-click="highlightCourse(course.courseId)"><span ng-click="deleteCourse(course.courseId)" class="delete"><i class="fa fa-times-circle"></i></span>{{course.courseId}} - {{course.name}} ({{course.credits}})</li>
        </ul>
        <br /><br />
        <b>Major Report: </b> <select ng-model="major" ng-options="major.name for major in majors"></select><br /><br />
        <div ng-if="major!=undefined">
        Major: <b>{{major.name}}</b><br />
        Percent Complete: <b>{{majorComplete(major)}}%</b><br />
        Remaining Courses:
        <ul id="coursesLeft" class="card">
            <li class="courseCard" ng-repeat="course in major.courses | orderBy:'courseId'" ng-if="checkCourse(course.courseId)==false" ng-click="highlightCourse(course.courseId)">{{course.courseId}} - {{course.name}}</li>
        </ul>
      </div>
    </div>
    <div id="suggestion" ng-if="majorComplete(majorRec())>=50">
        <b>Still Undecided?</b><br />
        We'd reccomend looking at <span class="link" ng-click="viewMajor()">{{majorRec().name}}</span>.
        <br />
        <i>You're already {{majorComplete(majorRec())}}% done this major.</i>
    </div>
    <div id="activeCourse" ng-if="activeCourse != null">
        <div id="activeTitle">
            Course Viewer
            <span ng-click="closeCourseView()" class="closeBtn link"><i class="fa fa-times-circle"></i></span>
            </div>
        <div id="activeContent">
            <input type="text" ng-model="search.query" ng-change="autoComplete()" ng-click="search.showAuto=true" style="width:100%" placeholder="Course Search"><br />
            <div id="courseSearchResultsContainer" ng-if="search.showAuto==true && search.query.length>0">
                <ul id="courseSearchResults">
                    <li ng-repeat="course in search.results" ng-click="highlightCourse(course.courseId);search.showAuto=false;">{{course.courseId}} - {{course.name}}</li>
                </ul>
            </div>
        <span class="backLink link" ng-repeat="history in courseHistory" ng-show="courseHistory.length > 0"><span ng-click="courseBack()" ng-show="$last">&larr; {{history.courseId}} <br /></span></span>
        <br />
        <span class="activeHead">{{activeCourse.courseId}} - {{activeCourse.name}}</span>
        <br /><br />
        Credits: <b>{{activeCourse.credits}}</b>
        <br /><br />
        <div ng-show="activeCourse.prerequisites.length>0">
        Prerequisites:
        <br />
        <ul>
            <li ng-repeat="prereq in activeCourse.prerequisites" ng-click="highlightCourse(prereq.courseId)" class="link">{{prereq.courseId}}</li>
        </ul>
        <br />
        </div>
        Students Enrolled ({{otherStudents.length}}):
        <ul>
            <li ng-show="otherStudents.length==0">No Students Currently Enrolled</li>
            <li ng-repeat="student in otherStudents">{{student.name}}</li>
        </ul>
        <br />
        <span ng-hide="checkCourse(activeCourse.courseId)" class="button" ng-click="addCourse(activeCourse.courseId)" ><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add to Schedule</span>
        <span ng-show="checkCourse(activeCourse.courseId)" class="button disabled" ><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Registered</span>
        </div>
    </div>
</div>
